.header-basic-container{
    width: 100%;
    height: 5.6rem; //64px
    display: flex;
    align-items: center;
    padding: 0 3%;
    justify-content: space-between;
    background-color: white;
}

.image-credo{
    width: 262px;
    height: 41px;
}
.numberss{
    display: flex;
    align-items: center;
    gap: 1.56em; // 25px;
    img{
        height: 18px;
        width: 17px;
    }
}
.header-li{
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 0.5em;
    color: #747474;
    font-size: 1rem;
    font-family: "BPG WEB 001 Caps", sans-serif;
}

.hov:hover{
    color: #ea4b37;
    cursor: pointer;
   .onColor{
    filter: invert(40%) sepia(65%) saturate(1042%) hue-rotate(329deg) brightness(91%) contrast(102%);}

}
.eng:hover{
    color: #ea4b37;
}

.adreses{
    display: flex;
    align-items: center;
}
.languages{
   display: grid;
   gap: 0.6rem;
   grid-template-columns: repeat(2, 1fr);
   
}
.lang.geo{
    color:  #ea4b37;
    border: 2px solid  #ea4b37;
}
.lang{
    color: #747474;
    font-family: 'Poppins', sans-serif;
    padding: 2px;
    cursor: pointer;
}

.menu-container{
    //top: 2rem;
    //background: #243e76;
    //height: 140px;
    border-radius: 3em;
    align-items: baseline;
    cursor: pointer;
    display: grid;
    position: relative;
    z-index: 1;
    
}
.menu-toggler{
    top: 0;
    color: white;
    display: flex;
    align-items: center;
    padding-right: 0.3em;
    position: relative;
    background: #00609c;
    height: 45px;
    padding: 0.75em 0.9em;
    border-radius: 3em;
    z-index: 2;
}
.menu-toggler::after{
    content: '';
    background-image: url(../.././../../assets/HomeImage/arrow/arrow-down.svg);
    background-size: cover ;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
    cursor: pointer;
    margin-left: 0.7rem;

}
.menu-toggler::before{
    content: '';
    background-image: url(../.././../../assets/Padlock.svg);
    background-size: cover ;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
    cursor: pointer;
    margin-right: 0.3rem;
}
.menu{
    width: 100%;
    height: 140px;
    background: #243e76;
    padding: 1em;
    border-radius: 2em 2em 2em 2em;
    position: absolute;
    z-index: 1;
    line-height: 1.8em;
    
}
.vnaxot{
    position: absolute;
    top: 60px;
    color: white;
}



// ქვედა ჰედერი

.primary-menu{
    height: 3.8rem;
    width: 100%;
    background: #ea4b37;
    Position: Relative;
    
}

.nav-primary{
    height: 100%;
    padding: 0 11.3%;
    display: flex;
}
.navigation-ul{
    display: flex;
    height: 100%;
    padding: 0;
}
.nav-li{
    height: auto;
}
.nav-a{
    width: 100%;
    height: 100%;
    display: flex;
    color: #fff !important;
    padding: 0 3.5em;
    align-items: center;
    font-family: "BPG WEB 001 Caps", sans-serif;
    font-size: 1em;
}
.nav-a:hover{
    background-color: white !important;
    color: #ea4b37 !important;
    cursor: default;
}
.nav-a.pointer:hover{
    background-color: white;
    color: #ea4b37;
    cursor: pointer;
}

  .content ul{
    display: none;
  }
  .content:hover ul {
    display: block;
    position: absolute;
    background-color: #747474;
    width: 77.41%;
    height: 600px;
    border-radius: 0 0 13px 13px;
    z-index: 9;
    
  }

  //right-nav-container


 

