<!--საწყისი ჰედერი-->
<div class="general">
<div class="header-basic-container">
    <div class="image-credo">
        <img src="https://credobank.ge/app/themes/credo/dist/images/svgs/general/logo-ka_751c340a.svg" alt="credo img">
    </div>
    <div class="number">
        <nav class="header-nav">

            <ul>
                <li class="header-li">
                    <img src="../../../../assets/phonee.svg" alt="phone">
                    <a>+99532 242 42 42</a> 
                </li>
            </ul>

            <ul>
                <li class="header-li hov">
                    <img class="onColor" src="../../../../assets/location.svg" alt="location">
                    <a>მისამართები</a> 
                </li>
            </ul>

            <ul>
                <li class="header-li hov">
                    <img class="onColor" src="../../../../assets/mail.svg" alt="contact">
                    <a>კონტაქტი</a> 
                </li>
            </ul>
        
        </nav>
        <div class="languages">
            <a class="lang geo">GEO</a>
            <a class="lang eng">ENG</a>
        </div>

        <div class="internetbank">
            <div class="child-internetbank">
                <img src="../../../../assets/Padlock.svg" alt="">
                <a>ინტერნეტბანკი</a>
                <img src="../../../../assets/dropdown.svg" alt="">
            </div>
        </div>
    </div>
</div>


   

<!-- ქვედა ჰედერი-->

<div class="primary-menu">
    
        <nav  class="nav-primary ">

            <ul class="navigation-ul" >
                <li class="nav-li content ">
                    <a class="nav-a">კრედოს შესახებ</a>

                    <ul>
                        <li><a>პირველი</a></li>
                        <li><a>მეორე</a></li>
                        <li><a>მესამე</a></li>
                        <li><a>მეოთხე</a></li>
                        <div>kakha chaduneli</div>
                    </ul>

                </li>
                
            </ul>
            

            <ul class="navigation-ul">
                <li class="nav-li">
                    <a class="nav-a">ფიზიკური პირები</a>
                    <ul class="dropdown">
                        <div class="vertical-border"></div>
                    </ul>
                </li>
            </ul>

            <ul class="navigation-ul">
                <li class="nav-li">
                    <a class="nav-a">ბიზნესი</a>
                    <ul class="dropdown">
                        <div class="vertical-border"></div>
                    </ul>
                </li>
            </ul>

            <ul class="navigation-ul">
                <li class="nav-li">
                    <a class="nav-a pointer">კრედოს რჩეული</a>
                </li>
            </ul>

            <ul class="navigation-ul">
                <li class="nav-li">
                    <a class="nav-a">კარიერა</a>
                    <ul class="dropdown">

                    </ul>
                </li>
            </ul>

        </nav>
    

</div>


</div>




