<div class="right-nav-container">
    <div class="right-nav">
        <div class="righr-item">
            <ng-container *ngIf="rightNavigation">

            <a class="right-flex-wrap right-vertical-center" *ngFor="let nav of rightNavigation.rightContainer">
                <div class="right-icon">
                    <img [src]="nav.img" alt="imgNavigation">
                </div>
                <div class="right-text">
                    <span>{{nav.description}}</span>
                </div>
            </a> 
            </ng-container>
        </div>
        
    </div>
   
    <div class="wright-container">
        <div class="right-item-chat">
        <ng-container *ngIf="rightNavigation">
            <a class="right-flex-wrap" *ngFor="let el of rightNavigation.rightContainerSecond" >
                <div class="right-icon">
                    <img [src]="el.img" alt="">
                </div>
                <div class="right-text">
                    <span>{{el.description}}</span>
                </div>
            </a> 
        </ng-container>
        </div>
    </div>
</div>
