<div class="right-nav-container">
    <div class="nav">
        <div class="item">
            <ng-container *ngIf="(rightNavigation$ | async) as rightNavigation ">

            <a class="flex-wrap" *ngFor="let nav of rightNavigation.rightContainer">
                <div class="icon">
                    <img [src]="nav.img" alt="imgNavigation">
                </div>
                <div class="text">
                    <span>{{nav.description}}</span>
                </div>
            </a> 
            </ng-container>
        </div>
        
    </div>
   
    <div class="wright">
        <div class="item">
            
            <a class="flex" >
                <div class="icon">
                    <img src="" alt="">
                </div>
                <div class="text">
                    <span></span>
                </div>
            </a> 
        
        </div>
    </div>
</div>
