<div class="credoTop">
      <img src="https://credobank.ge/app/uploads/2023/01/anabrebi-web-banner-2.png" alt="">
</div>
    
    <ng-container *ngIf="(mainPageData$ | async) as mainPageData">
        <div class="basic-list">
            <div class="list-items">
                
                    <a class="items"  *ngFor="let items of mainPageData.data">   
                        <img class="little-img" src="{{items.img}}" alt="image">
                        <h3 class="description">{{items.description}}</h3>
                    </a> 
                
            </div>
        </div>
    </ng-container>





<div class="parent-slide-credo">
    <a class="special-offer-for-expats" >
        <div>
            <img class="special-offer-basic-image" src="assets/HomeImage/special-offer-slider-1.png" alt="img-special-offer">
        </div>
        
        <div class=" in-detail-special-offer-button button white">
          <span class="in-details-spans">ვრცლად</span>
          <span>
            <img src="assets/HomeImage/download (2).svg" alt="">
          </span>
        </div>
        
    </a>


 




   <div class="carusel-parents">

    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <a>
            <img [src]="images[0]" alt="Random first slide" />
          </a>
        </div>


        <div class="carousel-caption">

          <h5 class="carousel-descr">
            <a>ბარათი უკვე შენს ელექტრონულ საფულეში </a>
          </h5>

          <div class="button button-carusel">
            <a class="button-child-a">
            <span class="slide-button-text">ვრცლად</span>
            <img src="assets/HomeImage/download (2).svg" alt="">
            </a>
          </div>

        </div>
      </ng-template>
      
    </ngb-carousel>
    
   </div>
  

    



</div>









<!--
  <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[1]" alt="Random second slide" />
        </div>
        <div class="carousel-caption">
          <h3>Second slide label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[2]" alt="Random third slide" />
        </div>
        <div class="carousel-caption">
          <h3>Third slide label</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </ng-template>
-->







<div>
    <h3></h3>
    <div></div>
    <div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>


    











<!--
<div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <ol class="carousel-indicators ">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/HomeImage/1.png" class="d-block w-100" alt="...">

        <div class="carousel-caption d-none d-md-block ">
          <h5 class="carousel-descr">
            <a class="carousel-descr-h">ბარათი უკვე შენს ელექტრონულ საფულეში </a>
          </h5>
          <button class="button-carusel">
            <img src="assets/HomeImage/download (2).svg" alt="">
            <span class="slide-button-text">ვრცლად</span>
           </button>
        </div>
      </div>
      
      
      <div class="carousel-item">
        <img src="assets/HomeImage/2.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5  class="carousel-descr" >
            <a class="carousel-descr-h">გახსენი ვადიანი ანაბარი და დააგროვე იმაზე მეტი, ვიდრე წარმოგედგინა - 13.35%-მდე (ეფექტური 12.56%-მდე)</a>
          </h5>
          <button class="button-carusel">
            <img src="assets/HomeImage/download (2).svg" alt="">
            <span class="slide-button-text">ვრცლად</span>
           </button>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/HomeImage/3.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="carousel-descr">
            <a class="carousel-descr-h">ონლაინ განვადების შეთავაზების ახალი პლატფორმა ბიზნესის მფლობელებისთვის</a>
          </h5>
          <button class="button-carusel">
            <img src="assets/HomeImage/download (2).svg" alt="">
            <span class="slide-button-text">ვრცლად</span>
           </button>
        </div>
      </div>
    </div>
    
   
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
-->