<!--საწყისი ჰედერი-->
<div class="general">
    <div class="header-basic-container">
        <div class="image-credo">
            <img src="https://credobank.ge/app/themes/credo/dist/images/svgs/general/logo-ka_751c340a.svg" alt="credo img">
        </div>
        <div class="numberss">
            <nav class="adreses">

                <ul class="header-ul">
                    <li class="header-li">
                        <img src="../../../../assets/phonee.svg" alt="phone">
                        <a>+99532 242 42 42</a> 
                    </li>
                </ul>

                <ul class="header-ul">
                    <li class="header-li hov">
                        <img class="onColor" src="../../../../assets/location.svg" alt="location">
                        <a>მისამართები</a> 
                    </li>
                </ul>

                <ul class="header-ul">
                    <li class="header-li hov">
                        <img class="onColor" src="../../../../assets/mail.svg" alt="contact">
                        <a>კონტაქტი</a> 
                    </li>
                </ul>
            
            </nav>
            <div class="languages">
                <a class="lang geo">GEO</a>
                <a class="lang eng">ENG</a>
            </div>

            <div class="menu-container">
            <div class="menu-toggler" (click)="toggleMenu()" >ინტერნეტბანკი</div> 
                <div class="menu" *ngIf="isMenuOpened">
                    <div class="internet-menu">
                        <div class="menu-item">
                            <a > 
                                <span class=" pysical">ფიზიკური პირი</span>
                            </a>
                        </div>
                        <div class="menu-item">
                            <a >
                                <span class=" legal">იურიდიული პირი</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </div>


   

 <!-- ქვედა ჰედერი-->

    <div class="primary-menu">
        <nav  class="nav-primary ">

             <ul class="navigation-ul" >
                    <li class="nav-li content ">
                        <a class="nav-a">კრედოს შესახებ</a>
                        

                       <ul class="dropdown-1 ">
                          
                            <div class="menu-image-container">
                               <a class="bg-cover photo1 shared" href="">
                                    <div class="credo-background"></div>
                                    <h4 class="img-descr">დეპოზიტები</h4>
                                </a> 
                                <a  class="bg-cover photo2 shared"  href="">
                                    <div class="credo-background"></div>
                                    <h4 class="img-descr">ინტერნეტ ბანკი</h4>
                                </a>
                                <a  class="bg-cover photo3 shared"  href="">
                                    <div class="credo-background"></div>
                                    <h4 class="img-descr">ტურისტული სტარტ-აპ ბიზნეს სესხი</h4>
                                </a>
                            </div>

                            <a class="bottom-container " href="">
                                <h4 class="display-f">
                                    <span class="dropdown-text">დაწვრილებითი ინფორმაციისთვის დაგვიკავშირდით</span>
                                    <span class="icon-arrow"></span>
                                </h4>
                            </a>
                        
                                <li class="list-item">
                                    <a>
                                        <span class="span-text">მისია და ფასეულობები</span>
                                    </a>
                                </li>
                                <li class="list-item">
                                    <a>
                                        <span class="span-text">მფლობელები</span>
                                    </a>
                                </li>
                                <li class="list-item">
                                    <a>
                                        <span class="span-text">სამეთვალყურეო საბჭო</span>
                                    </a>
                                </li>
                                <li class="list-item">
                                    <a>
                                        <span class="span-text">მენეჯმენტის გუნდი</span>
                                    </a>
                                </li>
                                <li class="list-item">
                                    <a>
                                        <span class="span-text">ფინანსური მაჩვენებლები</span>
                                    </a>
                                </li>
                                <li class="list-item">
                                    <a>
                                        <span class="span-text">სოციალური პასუხისმგებლობა</span>
                                    </a>
                                </li>
                                <li class="list-item">
                                    <a>
                                        <span class="span-text">ისტორია</span>
                                    </a>
                                </li>
                                <li class="list-item">
                                    <a>
                                        <span class="span-text">მედია ოთახი</span>
                                    </a>
                                </li>
                                <li class="list-item">
                                    <a>
                                        <span class="span-text">აქციონერთა საერთო კრება</span>
                                    </a>
                                </li>

                           


                        </ul>      
                    
                    </li>
                </ul>

            <ul class="navigation-ul">
                    <li class="nav-li content">
                        <a class="nav-a">ფიზიკური პირები</a>

                        <ul class="dropdown-1 ">

                            <div class="vertical-border"></div>

                            <div class="menu-image-container two-columns">
                                <a class="bg-cover photo1 shared" href="">
                                    <div class="credo-background"></div>
                                    <h4 class="img-descr">დეპოზიტები</h4>
                                </a>
                                <a  class="bg-cover photo2 shared"  href="">
                                    <div class="credo-background"></div>
                                    <h4 class="img-descr">ინტერნეტ ბანკი</h4>
                                </a>
                            </div>

                            <a class="bottom-container " href="">
                                <h4 class="display-f">
                                    <span class="dropdown-text">დაწვრილებითი ინფორმაციისთვის დაგვიკავშირდით</span>
                                    <span class="icon-arrow"></span>
                                </h4>
                            </a>

                                <li class="list-item">
                                    <a>
                                        <span class="span-text span-after">სესხები</span>
                                    </a>
                                    <ul class="display-no">
                                        <li class="right-li-section">
                                            <a href="">
                                                <span class="span-text">საკრედიტო ბარათი VISA</span>
                                            </a>
                                        </li>
                                        <li class="right-li-section">
                                            <a href="">
                                                <span class="span-text">ბიზნეს სესხი</span>
                                            </a>
                                        </li>
                                        <li class="test">
                                            <a href="">
                                                <span class="span-text">სამომხმარებლო სესხი</span>
                                            </a>
                                        </li>
                                        <li class="right-li-section">
                                            <a href="">
                                                <span class="span-text">სესხი ონლაინ</span>
                                            </a>
                                        </li>
                                        <li class="right-li-section">
                                            <a href="">
                                                <span class="span-text">ავტო ლომბარდი</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="list-item">
                                    <a>
                                        <span class="span-text span-after">დაზღვევა</span>
                                    </a>
                                    <ul class="display-no">
                                        <li class="right-li-section">
                                            <a href="">
                                                <span class="span-text">საკრედიტო ბარათი VISA</span>
                                            </a>
                                        </li>
                                        <li class="right-li-section">
                                            <a href="">
                                                <span class="span-text">ბიზნეს სესხი</span>
                                            </a>
                                        </li>
                                        <li class="right-li-section">
                                            <a href="">
                                                <span class="span-text">სამომხმარებლო სესხი</span>
                                            </a>
                                        </li>
                                        <li class="right-li-section">
                                            <a href="">
                                                <span class="span-text">სესხი ონლაინ</span>
                                            </a>
                                        </li>
                                        <li class="right-li-section">
                                            <a href="">
                                                <span class="span-text">ავტო ლომბარდი</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="list-item">
                                    <a>
                                        <span class="span-text span-after">ბარათები</span>
                                    </a>
                                    <ul class="display-no">
                                        <li class="right-li-section">
                                            <a href="">
                                                <span class="span-text">საკრედიტო ბარათი VISA</span>
                                            </a>
                                        </li>
                                        <li class="right-li-section">
                                            <a href="">
                                                <span class="span-text">ბიზნეს სესხი</span>
                                            </a>
                                        </li>
                                        <li class="right-li-section">
                                            <a href="">
                                                <span class="span-text">სამომხმარებლო სესხი</span>
                                            </a>
                                        </li>
                                        <li class="right-li-section">
                                            <a href="">
                                                <span class="span-text">სესხი ონლაინ</span>
                                            </a>
                                        </li>
                                        <li class="right-li-section">
                                            <a href="">
                                                 <span class="span-text">ავტო ლომბარდი</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="list-item">
                                    <a>
                                        <span class="span-text span-after">დაზღვევა</span>
                                    </a>
                                    <ul class="display-no">
                                        <li>
                                            <a href="">
                                                <span class="span-text">საკრედიტო ბარათი VISA</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span class="span-text">ბიზნეს სესხი</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span class="span-text">სამომხმარებლო სესხი</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span class="span-text">სესხი ონლაინ</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span class="span-text">ავტო ლომბარდი</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="list-item">
                                    <a>
                                        <span class="span-text span-after">სტარტ-აპ სესხები</span>
                                    </a>
                                    <ul class="display-no list-child">
                                        <li>
                                            <a href="">
                                                <span class="span-text">საკრედიტო ბარათი VISA</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span class="span-text">ბიზნეს სესხი</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span class="span-text">სამომხმარებლო სესხი</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span class="span-text">სესხი ონლაინ</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span class="span-text">ავტო ლომბარდი</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="list-item">
                                    <a>
                                        <span class="span-text span-after">ფულადი გზავნილები</span>
                                    </a>
                                    <ul class="display-no list-child">
                                        <li>
                                            <a href="">
                                                <span class="span-text">საკრედიტო ბარათი VISA</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span class="span-text">ბიზნეს სესხი</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span class="span-text">სამომხმარებლო სესხი</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span class="span-text">სესხი ონლაინ</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span class="span-text">ავტო ლომბარდი</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="list-item">
                                    <a>
                                        <span class="span-text span-after">ანაბრები</span>
                                    </a>
                                    <ul class="display-no list-child">
                                        <li>
                                            <a href="">
                                                <span class="span-text">საკრედიტო ბარათი VISA</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span class="span-text">ბიზნეს სესხი</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span class="span-text">სამომხმარებლო სესხი</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span class="span-text">სესხი ონლაინ</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span class="span-text">ავტო ლომბარდი</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="list-item">
                                    <a>
                                        <span class="span-text span-after">ანგარიშები</span>
                                    </a>
                                    <ul class="display-no list-child">
                                        <li>
                                            <a href="">
                                                <span class="span-text">საკრედიტო ბარათი VISA</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span class="span-text">ბიზნეს სესხი</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span class="span-text">სამომხმარებლო სესხი</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span class="span-text">სესხი ონლაინ</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span class="span-text">ავტო ლომბარდი</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="list-item">
                                    <a>
                                        <span class="span-text span-after">აქციები</span>
                                    </a>
                                    <ul class="display-no list-child">
                                        <li>
                                            <a href="">
                                                <span class="span-text">საკრედიტო ბარათი VISA</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span class="span-text">ბიზნეს სესხი</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span class="span-text">სამომხმარებლო სესხი</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span class="span-text">სესხი ონლაინ</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span class="span-text">ავტო ლომბარდი</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="list-item">
                                    <a>
                                        <span class="span-text span-after">სერვისები</span>
                                    </a>
                                    <ul class="display-no list-child">
                                        <li>
                                            <a href="">
                                                <span class="span-text">საკრედიტო ბარათი VISA</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span class="span-text">ბიზნეს სესხი</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span class="span-text">სამომხმარებლო სესხი</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span class="span-text">სესხი ონლაინ</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span class="span-text">ავტო ლომბარდი</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                           


                        </ul>
                       
                                         
                    </li>
                </ul>
            
            <ul class="navigation-ul">
                    <li class="nav-li">
                        <a class="nav-a">ბიზნესი</a>
                        
                    </li>
                </ul>

            <ul class="navigation-ul">
                    <li class="nav-li">
                        <a class="nav-a pointer">კრედოს რჩეული</a>

                    </li>
                </ul>

            <ul class="navigation-ul">
                    <li class="nav-li content">
                        <a class="nav-a">კარიერა</a>
<!--

                        <ul class="dropdown-1 directive">
                            
                            <div class="menu-image-container">
                                <a class="bg-cover photo-career1 shared" href="">
                                    <div class="credo-background"></div>
                                    <h4 class="img-descr">ტექნოლოგიური სივრცე</h4>
                                </a>
                                <a  class="bg-cover photo-career2 shared"  href="">
                                    <div class="credo-background"></div>
                                    <h4 class="img-descr">დასაქმების ფორუმი </h4>
                                </a>
                                <a  class="bg-cover photo-career3 shared"  href="">
                                    <div class="credo-background"></div>
                                    <h4 class="img-descr">ჯილდო განათლებაში შეტანილი წვლილისთვის</h4>
                                </a>
                            </div>

                            <a class="bottom-container " href="">
                                <h4 class="display-f">
                                    <span class="dropdown-text">დაწვრილებითი ინფორმაციისთვის დაგვიკავშირდით</span>
                                    <span class="icon-arrow"></span>
                                </h4>
                            </a>

                                
                                
                               
                                
                                <li class="list-item">
                                    <a>
                                        <span class="span-text">კრედო აკადემია</span>
                                    </a>
                                </li>
                                <li class="list-item">
                                    <a>
                                        <span class="span-text">ბენეფიტები და სამუშაო გარემო</span>
                                    </a>
                                </li>
                                <li class="list-item">
                                    <a>
                                        <span class="span-text">სამსახურში აყვანის პროცესი</span>
                                    </a>
                                </li>
                                <li class="list-item">
                                    <a>
                                        <span class="span-text">მიმდინარე ვაკანსიები</span>
                                    </a>
                                </li>


                        </ul>  
                    -->
                    </li>
                </ul>
            
         </nav>
        

    </div>


</div>



<!--
    <ul class="dropdown2">
                                        <li>
                                            <a href="">
                                                <span>საკრედიტო ბარათი VISA</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span>ბიზნეს სესხი</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span>სამომხმარებლო სესხი</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span>სესხი ონლაინ</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span>ავტო ლომბარდი</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span>ავტო სესხი</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span>იპოთეკური სესხი</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span>შეღავათიანი აგროკრედიტები</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span>აგრო სესხი</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span>ტურისტული სესხი</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span>სტუდენტური სესხი</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span>უფასო ფული</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span>სახელფასო ოვერდრაფტი</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span>რე-სტარტ სესხი</span>
                                            </a>
                                        </li>
                                    </ul>
-->