/* You can add global styles to this file, and also import other style files */



*{
    box-sizing: border-box;
    text-decoration: none;
}
*{
    margin: 0;
}
  Ul  li   {
    List-style: none;
}
a p{
 letter-spacing: 0.5px;
 outline: none;
 color: white !important;
 text-decoration: none;
}

body, html {
width: 100%;
max-width: 1920px;
margin: 0 auto;
height: 100%;
background-color: aqua;
}
ul{
    margin-bottom: 0px !important;
}


a{
    text-decoration: none !important;
}



@import "~bootstrap/dist/css/bootstrap.css";
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
