/* You can add global styles to this file, and also import other style files */



*{
    box-sizing: border-box;
    text-decoration: none;
}
*{
    margin: 0;
}
  Ul  li   {
    List-style: none;
}

a p{
 letter-spacing: 0.5px;
 outline: none;
 color: white !important;
 text-decoration: none;
}

body, html {
width: 100%;
max-width: 1920px;
margin: 0 auto;
height: 100%;

}

/*
ul{
    margin-bottom: 0px !important;
} */


a{
    text-decoration: none !important;
}



@import "~bootstrap/dist/css/bootstrap.css";
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap'; 


.carousel-indicators{
    
    left: -6rem;
    justify-content: flex-start;
    border-radius: 6px;
    bottom: -1.2rem;
    z-index: 10;
   } 


.carousel-indicators [data-bs-target]{
    width: 0.6em;
    height: 0.6em;
    border-radius: 0.4em;
    border-radius: 100%;
    background-color: gray;
}

.carousel-indicators .active{
    background-color: #ea4b37;
}



