<div class="top-container padd">
    <div class="content-left">
        <a class="logo">
            <img src="https://credobank.ge/app/themes/credo/dist/images/svgs/general/logo-ka_751c340a.svg" alt="credo logo">
        </a>
    </div>
    <div class="content-right">
        <ul>
            <li>
                <a href=""  class="item ">
                    <span class="icon-arrow"></span>
                    <span>საიტის რუკა</span>
                </a>
            </li>
            <li>
                <a href=""  class="item ">
                    <span class="icon-arrow"></span>
                    <span>პირობები და ტარიფები</span>
                </a>
            </li>
            <li>
                <a href=""  class="item ">
                    <span class="icon-arrow"></span>
                    <span>SMS განაცხადით სარგებლობის ინსტრუქცია</span>
                </a>
            </li>
            <li>
                <a href=""  class="item ">
                    <span class="icon-arrow"></span>
                    <span>მომხმარებელთა დაცვა</span>
                </a>
            </li>
        </ul>
        <ul>
            <li >
                <a href=""  class="item ">
                    <span class="icon-arrow"></span>
                    <span>ხშირად დასმული კითხვები</span>
                </a>
            </li>
            <li >
                <a href=""  class="item ">
                    <span class="icon-arrow"></span>
                    <span>როგორ ვისარგებლოთ კრედო ბანკის მომსახურებით</span>
                </a>
            </li>
            <li>
                <a href=""  class="item">
                    <span class="icon-arrow"></span>
                    <span>მისამართები</span>
                </a>
            </li>
            <li class=" flex">
                <a href=""  class="item ">
                    <span class="icon-arrow"></span>
                    <span>კონტაქტი</span>
                </a>
                <div class="social-icons">
                    <a href="" target="_blank">
                        <img class="icon" src="../../../../assets/soc-icons/face.svg" alt="logo-facebook">
                    </a>
                    <a href="" target="_blank">
                        <img class="icon" src="../../../../assets/soc-icons/linkedin.svg" alt="logo-linkedin">
                    </a>
                    <a href="" target="_blank">
                        <img class="icon" src="../../../../assets/soc-icons/youtube.svg" alt="logo-youtube">
                    </a>
                    <a href="" target="_blank">
                        <img class="icon" src="../../../../assets/soc-icons/instagram.svg" alt="logo-insta">
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>


<div class="footer-bottom-container">
    <div class="footer-content">
        <div class="left white">
            <span>© 2023 კრედო ბანკი</span>
        </div>
        <div class="footer-center ">
           <ul class=" flex">
                <li>
                    <a class="white center-text center-text-aft" href="">როგორ ვისარგებლოთ კრედო ბანკის მომსახურებით</a>
                </li>
                <li>
                    <a class="white center-text center-text-aft" href="">მომხმარებელთა დაცვა</a>
                </li>
                <li>
                    <a class="white center-text" href="">პირობები და ტარიფები</a>
                </li>
           </ul>
        </div>
        <div class="right">
            <a class="white created-section" href="">შექმნილია</a>
        </div>
    </div>
</div>